/* Modal.module.css */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    top: 4rem; /* 64px / 16px = 4rem */
    overflow-y: auto;
    z-index: 40;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}