* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

img{
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

li{
  list-style: none;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: gray;
  min-height: 100vh; 
}

.button {
  padding: 8px 27px;
  margin: 0px 16px 0px 0px;
  border-radius: 38px;
  font-weight: 500;
  text-align: center;
  transition: all 1s ease;
  display: inline-block; /* Ensure it behaves like a button */
}

.button.btn-brand {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.button.btn-brand:hover {
  background-color: #212529;
  color: white;
  border-color: #212529;
}

.button.btn-outline-brand {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.button.btn-outline-brand:hover {
  background-color: #212529;
  color: white;
  border-color: #212529;
}



/* CSS Helper class */

.form-control, .form-select,
.input-group-text
{
  border-color: #dee2e6;
  outline: none;
  box-shadow: none;
  padding: 12px 10px
}

.form-control:focus, .form-select:focus,
.input-group-text:focus
{
  border-color: #212529;
  outline: none;
  box-shadow: none;
  border-color: #ced4da;
}

input {
  border-color: #212529;
  outline: none;
  box-shadow: none;
}

.link {
  text-decoration: none;
  color: inherit; /* Ensure the link inherits the color of the parent */
}

a {
  text-decoration: none;
  color: inherit; /* Ensure the link inherits the color of the parent */
}

/* Mobile container styles for desktop view */
@media (min-width: 568px) {
  .mobile-container {
    /* iPhone-like dimensions */
    width: 375px;
    height: 760px;
    border-radius: 44px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
  }
  .App {
    padding: 30px;
  }
}

/* For actual mobile devices, take up full screen */
@media (max-width: 567px) {
  .mobile-container {
    width: 100%;
    height: 100vh;
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
  .App {
    padding: 0px;
  }
}


/* splash screen */


.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;
  color: white;
  opacity: 1;
  /* visibility: visible; */
  transition: opacity 2.3s ease-out;
}

.splash-screen.hidden {
  opacity: 0;
  /* visibility: hidden; */
}


.splash_message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: fit-content;
}

.splash-logo {
  width: 50px;
  height: 80px;
}


.home-page {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
}

.search-bar-container {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-bar {
  position: relative;
  width: 90%;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.search-icon {
  margin-left: 10px;
  font-size: 20px;
}

.search-bar input {
  outline: none;
  border: none;
  width: 80%;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  width: 100%;
  padding: 20px;
  overflow: hidden;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.phone-btn {
  border-radius: 100%;
  background-color: green;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
}

.user-btn{
  border-radius: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
}

/* signup screen */

.signup {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
}

.section-title{
  text-align: left;
  margin: 40px 0px 0px 10px;
  max-width: 600px;
  padding: 10px;
}

/* .signup .btn, .login .btn {
  padding: 14px 27px;
  margin: 0px 16px 0px 0px;
  border-radius: 32px;
  font-weight: 500;
  transition: all 1s ease;
} */

/* .signup .btn-brand, .login .btn-brand {
  background-color: black;
  border-color: 1px solid black;
  color: white;
}

.signup .btn-brand:hover {
  background-color: #212529;
  border-color: #212529;
  color: white;
} */

.cursor-pointer {
  cursor: pointer;
}

.signup .form-control,
.signup .input-group-text, 
.login .form-control,
.login .input-group-text
{
  border-color: #dee2e6;
  outline: none;
  box-shadow: none;
  padding: 12px 10px
}

.signup .form-control:focus,
.signup .input-group-text:focus, 
.login .form-control:focus, 
.login .input-group-text:focus
{
  border-color: #212529;
  outline: none;
  box-shadow: none;
  border-color: #ced4da;
}

input {
  border-color: #212529;
  outline: none;
  box-shadow: none;
}


/* login screen */
.login {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
}

footer {
  bottom: 0;
}


/* Welcome */
.welcome {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
}

.welcome-title {
  text-align: center;
  margin: 40px auto 0px auto;
  max-width: 600px;
  padding: 10px;
}


/* Missing */

.missing {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
}

.missing .section-title {
  text-align: center;
  /* margin: 40px 0px 0px 10px; */
  max-width: 600px;
  padding: 10px;
}

.missing .banner-message {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Report page */

.report {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
}


.mexican-wave:before {
  -webkit-animation: mexican-wave .75s infinite ease backwards;
    animation: mexican-wave .75s infinite ease backwards;
    border-radius: 100%;
    content: '';
    height: 10px;
    position: absolute;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    width: 10px; 
}





@-webkit-keyframes mexican-wave {
  0% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  15% {
    -webkit-box-shadow: -30px -20px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -20px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  30% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -20px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -20px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  45% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -20px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -20px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  60% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -20px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -20px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  75% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -20px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -20px 0 0 var(--primary); }
  100% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); } }

@keyframes mexican-wave {
  0% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  15% {
    -webkit-box-shadow: -30px -20px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -20px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  30% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -20px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -20px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  45% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -20px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -20px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  60% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -20px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -20px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  75% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -20px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -20px 0 0 var(--primary); }
  100% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); } }